.card {
  width: 350px;
  height: 250px;
  background-color: blue;
  border: 2px solid green;
  box-sizing: border-box;
  font-size: 2vw;
  color: white;
}
.carousel_slide {
  width: 350px;
  height: 250px;
}