.carousel {
  width: 1000px;
  margin: auto;
  overflow: hidden;
  &_slide {
    width: 1000px;
    box-sizing: border-box;
    font-size: 1vw;
    color: black;
    padding: 20px;
    text-align: left;
    height: 50vh;
    transition:  ease .3s;
    &:hover {
      height: auto;
    }
  }
  &_slide-block {
    width: 1000px;
    box-sizing: border-box;
    font-size: 1vw;
    color: black;
    padding: 10px;
    text-align: left;
  }
  &_slide-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 1vw;
  }
  &_container {
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  &_button-prev,&_button-next {
    position: absolute;
    top: 50%;
    border-radius: 90%;
    outline: none;
    text-align: center;
    font-size: 4vw;
    height: 70px;
    width: 70px;
    border-color: transparent;
    cursor: pointer;
  }
  &_button-next {
    left: 0;
  }
  &_button-prev {
    right: 0;
  }
  &_picture {
    position: relative;
  }
  &_span {
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
  }
  &_select {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
  }
  &_span-img {
    height: 200px;
    width: 400px;
    border-radius: 20px;
  }
  &_span-text {
    position: absolute;
    top: 12%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rebeccapurple;
    background-color: white;
    color: black;
    display: none;
    &-active {
      position: absolute;
      top: 12%;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid rebeccapurple;
      background-color: white;
      color: black;
      display: block;
    }
  }
  &_example {
    display: none;
    width: 0;
    height: 0;
    &-active {
      display: block;
      position: absolute;
      top: 12%;
      right: 10%;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid rebeccapurple;
      background-color: white;
      color: black;
      width: 30vw;
      height: auto;
    }
  }
  &_textarea {
    width: 10vw;
    height: 5vh;
    resize: none;
    &-bigger {
      width: 30vw;
      height: 20vh;
      border-radius: 40px;
      outline: none;
      padding: 20px;
      resize: none;
    }
  }
  &_figure {
    position: relative;
    text-align: center;
    &_span {
      font-size: 2vw;
      color: white;
      position: absolute;
      bottom: 10%;
      left: 10%;
      border-radius: 20px;
      border: 2px solid white;
      padding: 10px;
    }
  }
  &_caption {
    position: absolute;
    top: 10%;
    font-size: 2vw;
    left: 20%;
  }
  &_addPhotos {
    height: 50vh;
    width: 15vw;
    border: 2px solid black;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  &_plus {
    border-radius: 100%;
    font-size: 4vw;
    height: 90px;
    width: 90px;
    outline: none;
  }
  &_rules {
    border: 2px solid rebeccapurple;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
  }
  &_rules-heading {
    font-size: 3vw;
  }
  &_map {
    border-radius: 20px;
  }
  &_address {
    width: 40vw;
    height: 40vh;
    position: relative;
  }
  &_overview-next {
    width: 40vw;
    &p {
      margin-top: 10px;
    }
  }
  &_slide-photos {
    color: black;
    margin-top: 8%;
  }
}